<div class = "container colorDark">
    <div class = "col">
      <p>Add a bucket list item</p>
    </div>

    <div class = "col">
      <p>Your bucket list</p>
    </div>
</div>

<div class = "container colorLight" >
    <div class = "col">
      <p class = "sm">Use this form to add an item to your bucket list!</p>
        <!-- Here we will write the groundwork to add an item to our list -->
    </div>

    <div class = "col">
        <!-- Here we will write the functionality to remove an item from the list -->
      </p>
    </div>
</div>